:root {
    --primary-clr: #7e7e7e;             
    --secondary-clr: #a3a3a3;           
    --text-primary-clr: #1C1C1C;        
    --highlight-clr: #e7e7e7;           
    --light-text: #FFFFFF;              
}

@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    min-width: 515px;
}

body {
    font-family: "Montserrat", sans-serif;
}

main {
    width: 100%;
    height: auto;
}

h1 {
    color: var(--text-primary-clr);
    font-size: 2rem;
}

p {
    color: var(--text-primary-clr);
}

li, a {
    
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--light-text);
}

.cabecalho {
    z-index: 1000;
    position: sticky;top: 0;
    height: 100px;
    padding: 30px 5%;
    background-color: var(--primary-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.nav_links {
    display: flex;
    list-style: none;
}

.nav_links li {
    padding: 0px 10px;
}

.nav_links li a {
    padding: 0px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: var(--text-primary-clr);
}

.pdf-frame {
    width: 100%;
    height: 900px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(87, 87, 87);
    background-color: white;
}

.fallback > p > a {
    color: var(--primary-clr);
}

footer {
    padding: 50px;
    text-align: center;
    background: var(--primary-clr);
    color: var(--highlight-clr);
}